.env
.env.ai
.env.testing
.idea
.cache
.php_cs.cache
.phpunit.result.cache
.phpunit.cache
.vscode
.vagrant
*.hot
/stubs
/data
/docker-compose-collection
Homestead.json
Homestead.yaml
/ignorables/*
/node_modules
npm-debug.log
/playwright-report
/public/css
/public/js
/public/hot
/public/storage
/public/vendor
/public/admin/build
/lang/vendor
/storage/*.key
/storage/dcc-data/
/vendor
yarn.lock
yarn-error.log

# Playwright
node_modules/
/test-results/
/blob-report/
/playwright/.cache/
docs/?
docs/html

/rainloop_data
/upload_sugarcrm
