.env
.env.ai
.env.testing
.idea
.cache
.php_cs.cache
.phpunit.result.cache
.phpunit.cache
.vscode
.vagrant
*.hot
/stubs
/data
/docker-compose-collection
Homestead.json
Homestead.yaml
/ignorables/*
/node_modules
npm-debug.log
/playwright-report
/public/css
/public/js
/public/hot
/public/storage
/public/vendor
/public/admin/build
/public/webform
/public/installer
/lang/vendor
/storage/*.key
/storage/dcc-data/
/vendor
yarn-error.log

# Playwright
UiTests/bin/
UiTests/obj/
UiTests/Features/**/*.cs
node_modules/
/test-results/
/blob-report/
/playwright/.cache/

bin/
obj/
.playwright/
.cache/
UiTests/Features/*.cs
**/.playwright/
**/bin/
**/obj/

docs/?
docs/html

/rainloop_data
./docker/rainloop_data/
/upload_sugarcrm
/k6-scripts/results.json
/k6-scripts/results.html
