parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method class@anonymous/Providers/AuditTrailServiceProvider\.php\:73\:\:belongsTo\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Providers/AuditTrailServiceProvider.php
