parameters:
	ignoreErrors:
		-
			message: '#^Command "orders\:repair\-sugar\-purchase\-prices" does not have option "date\-from"\.$#'
			identifier: larastan.console.undefinedOption
			count: 2
			path: app/Console/Commands/ImportOrdersFromSugarCRM.php

		-
			message: '#^Command "orders\:repair\-sugar\-purchase\-prices" does not have option "date\-to"\.$#'
			identifier: larastan.console.undefinedOption
			count: 2
			path: app/Console/Commands/ImportOrdersFromSugarCRM.php

		-
			message: '#^Command "orders\:repair\-sugar\-purchase\-prices" does not have option "dry\-run"\.$#'
			identifier: larastan.console.undefinedOption
			count: 1
			path: app/Console/Commands/ImportOrdersFromSugarCRM.php

		-
			message: '#^Command "orders\:repair\-sugar\-purchase\-prices" does not have option "import\-leads"\.$#'
			identifier: larastan.console.undefinedOption
			count: 1
			path: app/Console/Commands/ImportOrdersFromSugarCRM.php

		-
			message: '#^Command "orders\:repair\-sugar\-purchase\-prices" does not have option "order\-ids"\.$#'
			identifier: larastan.console.undefinedOption
			count: 1
			path: app/Console/Commands/ImportOrdersFromSugarCRM.php

		-
			message: '#^Command "orders\:repair\-sugar\-purchase\-prices" does not have option "table"\.$#'
			identifier: larastan.console.undefinedOption
			count: 1
			path: app/Console/Commands/ImportOrdersFromSugarCRM.php

		-
			message: '#^Command "orders\:repair\-sugar\-purchase\-prices" does not have option "tasks\-only"\.$#'
			identifier: larastan.console.undefinedOption
			count: 1
			path: app/Console/Commands/ImportOrdersFromSugarCRM.php

		-
			message: '#^Command "orders\:repair\-sugar\-purchase\-prices" does not have option "tasks\-parent\-type"\.$#'
			identifier: larastan.console.undefinedOption
			count: 2
			path: app/Console/Commands/ImportOrdersFromSugarCRM.php

		-
			message: '#^Call to an undefined method class@anonymous/Providers/AuditTrailServiceProvider\.php\:73\:\:belongsTo\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Providers/AuditTrailServiceProvider.php
